{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>{{.Title}}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle">{{.}}</span>
      {{ end }}
    </header>
    <section class="content">
      {{- .Content -}}
    </section>
    <section class="list">
      {{ range .Pages.GroupByParam "status" }}
      <h3>{{ humanize .Key }}</h3>
        {{ range .Pages.ByTitle }}
          <div class="item">
            {{- partial "project_summary.html" . -}}
          </div>
        {{ end }}
      {{ end }}
      </section>
  </main>
{{ end }}