{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<main>
  <article>
    <header>
      <h1>
        {{- .Title -}}
      </h1>
      <p class="status">
        Status: <span>{{- humanize .Status -}}</span>
      </p>
      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
      <span> - {{ .ReadingTime}} minutes read</span>
      <span> - {{ .WordCount}} words</span>
      {{ end }}
    </header>

    <section class="content">
      {{- .Content -}}
    </section>

    <ul class="projectLinks">
      <li><a href="{{ .Params.source }}">Source Code</a></li>
      <li><a href="{{ .Params.site }}">Project Site</a></li>
    </ul>
  
  </article>
</main>
{{ end }}