$headerBg: #1A237E;
$navBg: #32408f;
$siteGap: 10px;

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  line-height: 1.6;
  font-size: 18px;
  color: #222;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  background: #eee;
}

.site-header {
  background: $headerBg;
  color: #fff;
  padding: $siteGap;

  h1 {
    padding: 0;
    margin: 0;
  }
}

header h1 {
  padding: 0;
  margin: 0;
}

%flexNav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

%navLink {
  display: block;
  padding: $siteGap;
  text-decoration: none;
}

nav {
  width: 100%;
  background: $navBg;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  
  ul {
    @extend %flexNav;
  }

  a {
    @extend %navLink;
    color: #fff;
  }

  a:hover {
    background: $headerBg;
  }
}

#content {
  .homepage {
    padding: $siteGap;
    max-width: 1280px;
    margin: 0 auto;  
  }

  main {
    padding: $siteGap;
    max-width: 960px;
    margin: 0 auto;  
  }
}

%card {
  border: 1px solid #ddd;
  flex: 1 1 33%;
  min-width: 360px;
  padding: $siteGap;
  margin-right: $siteGap;
  margin-bottom: $siteGap;
}

.grid > .item {
  display: flex;
  flex-wrap: wrap; 
  align-items: stretch;
  justify-content: center;

  .card {
    @extend %card;
  }
}

article {
  @extend %card;
  display: flex;
  flex-direction: column;

  h3, h1 {
    flex: 0 1 auto;
    margin: 0;
  }

  time, .status {
    margin: 0;
    color: #444;
    font-size: 14px;
  }

  .content {
    flex: 1 1 auto;
  }

  .projectLinks {
    @extend %flexNav;
    flex: 0 1 auto;

    a {
      @extend %navLink;
      padding-left: 0;
    }  
  }
}

.pagination {
  @extend %flexNav;
  justify-content: center;
  align-items: center;
  a {
    @extend %navLink;
    flex: 1 1 auto;
  }
}

label {
  display: block;
  margin-bottom: $siteGap;

  input, textarea {
    display: block;
    width: 100%;
    padding: $siteGap;
  }

  textarea {
    height: 400px;
  }
}

input {
  padding: $siteGap;
}

.summary {
  position: relative;
  line-height: 28px;
  max-height: calc(28px * 5);
  overflow: hidden;
}

.summary:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 28px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
