<title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }} {{ end }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $sass := resources.Get "site.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
{{ $style := $sass | resources.ToCSS }}
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ $style.Permalink }}">

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ truncate 250 .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content='{{ with .Params.image }}{{ . }}{{ else }}{{ printf "https://og-image.ryanmurthick.now.sh/%s.png?theme=dark&md=1&fontSize=75px" .Title }}{{ end }}' />