<article>
  <h3>
    <a href="{{ .Permalink | relURL }}">
      {{ .Title }}
    </a>
  </h3>
  <div class="content summary">
    {{ with .Description }}
      {{ $.Scratch.Set "summary" (markdownify .) }}
    {{ else }}
      {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>.*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | replaceRE "&amp;" "&" | safeHTML) }}
    {{ end }}
    {{ $.Scratch.Get "summary" }}
  </div>

  <ul class="projectLinks">
    <li><a href="{{ .Permalink | relURL }}" >Read More...</a></li>
  </ul>
</article>